<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mess Management System</title>
</head>
<body>
    <nav th:fragment="footer1">
        <div class="container-fluid" >
          <footer class="text-center text-white " style="background-color: white; ">
            <!-- Grid container -->
            <div class="container p-1">
             <!-- Facebook -->
      <a
      class="btn text-white btn-floating m-1"
      style="background-color: #3b5998;"
      href="#!"
      role="button"
      ><i class="fab fa-facebook-f"><img src="https://cdn-icons-png.flaticon.com/128/5968/5968764.png" height="30px" width="30px"></i
    ></a>

    <!-- Twitter -->
    <a
      class="btn text-white btn-floating m-1"
      style="background-color: #55acee;"
      href="#!"
      role="button"
      ><i class="fab fa-twitter"></i
    ></a>

    <!-- Google -->
    <a
      class="btn text-white btn-floating m-1"
      style="background-color: #dd4b39;"
      href="#!"
      role="button"
      ><i class="fab fa-google"></i
    ></a>

    <!-- Instagram -->
    <a
      class="btn text-white btn-floating m-1"
      style="background-color: #ac2bac;"
      href="#!"
      role="button"
      ><i class="fab fa-instagram"><img src="https://cdn-icons-png.flaticon.com/128/174/174855.png" height="30px" width="30px"></i
    ></a>

    <!-- Linkedin -->
    <a
      class="btn text-white btn-floating m-1"
      style="background-color: #0082ca;"
      href="#!"
      role="button"
      ><i class="fab fa-linkedin-in"></i
    ></a>
    <!-- Github -->
    <a
      class="btn text-white btn-floating m-1"
      style="background-color: #333333;"
      href="#!"
      role="button"
      ><i class="fab fa-github"></i
    ></a>

            </div>
            <!-- Grid container -->
          
            <!-- Copyright -->
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
              © 2020 Copyright:
              <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
            </div>
            <!-- Copyright -->
          </footer>
          
        </div>
      </nav>
     
</body>
</html>