<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mess Management System</title>
</head>
<body>
    <nav th:fragment="footer1">
        <div class="container-fluid" >
          <footer class="text-center text-white " style="background-color: white; ">
            <!-- Grid container -->
            <div class="container p-1">
             <!-- Facebook -->
      <a
      class="btn text-white btn-floating m-1"
      style="background-color: white;"
      href="#!"
      role="button"
      ><i class="fab fa-facebook-f"><img src="https://cdn-icons-png.flaticon.com/128/5968/5968764.png" height="30px" width="30px"></i
    ></a>

    <!-- Twitter -->
    <a
      class="btn text-white btn-floating m-1"
      style="background-color: white;"
      href="#!"
      role="button"
      ><i class="fab fa-twitter"><img src="/images/twitter_logo.jpg" height="40px" width="40px"></i
    ></a>

    <!-- Instagram -->
    <a
      class="btn text-white btn-floating m-1"
      style="background-color: white;"
      href="#!"
      role="button"
      ><i class="fab fa-instagram"><img src="/images/instag.jpg" height="30px" width="30px"></i
    ></a>

    <!-- Linkedin -->
    <a
      class="btn text-white btn-floating m-1"
      style="background-color: white;"
      href="#!"
      role="button"
      ><i class="fab fa-linkedin-in"><img src="/images/tweett.png" height="35px" width="35px"></i
    ></a>
    
            </div>
            <!-- Grid container -->
          
            <!-- Copyright -->
            <div class="text-center p-2" style="background-color: rgba(0, 0, 0, 0.2);">
             <h3 style="color: rgb(230, 127, 127); font-family: cursive;">Transforming lives with good food and good tech...</h3>
            </div>
            <!-- Copyright -->
          </footer>
          
        </div>
      </nav>
     
</body>
</html>