<div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <div class="bg-white" id="sidebar-wrapper">
        <div class="sidebar-heading text-center py-4 primary-text fs-4 fw-bold text-uppercase border-bottom"><i
                class="fas fa-hospital me-2"></i> Medihub</div>
        <div class="list-group list-group-flush my-3">
            {% if user.is_authenticated %}
            <a href="{% url 'admin-dashboard' %}" class="list-group-item list-group-item-action bg-transparent second-text " id="dash"><i
                    class="fas fa-tachometer-alt me-2"></i> Dashboard</a>
            <a href="{% url 'crud-index' %}" class="list-group-item list-group-item-action bg-transparent second-text " id="dash"><i
                    class="fas fa-notes-medical me-2"></i> CRUD <br><em class="fw-light">for Doctor, Patient, Appointment</em></a> 
            
            <a href="{% url 'manage-appointments-list' %}" class="list-group-item list-group-item-action bg-transparent second-text fw-bold "><i
                    class="fas fa-clock me-2"></i> Appointments</a>
            <a href="{% url 'admin-bills' %}" class="list-group-item list-group-item-action bg-transparent second-text fw-bold "><i
                class="bi bi-receipt-cutoff"></i> Bills</a>
            <a href="{% url 'bed-management-list' %}" class="list-group-item list-group-item-action bg-transparent second-text fw-bold "><i 
                class="fas fa-bed me-2"></i> Beds</a>
            <a href="{% url 'admin-logout' %}" class="list-group-item list-group-item-action bg-transparent second-text fw-bold "><i
                    class="fas fa-power-off me-2"></i> Logout</a>
            {% else %}
                <a href="{% url 'index' %}" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                    class="bi bi-house-door"></i> Home</a>
                <a href="{% url 'admin-login' %}" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i 
                    class="bi bi-box-arrow-in-right"></i> Login</a>
            {% endif %}
           
        </div>
    </div>
    <div id="page-content-wrapper">           
        
        
    </div>
    
</div>