<!DOCTYPE html>
<html lang="en">

<h1 class="h3 mb-0 text-gray-800">Manage Employees</h1>
<a th:href="@{/dashboard/employee/add}" class="
                  d-none d-sm-inline-block
                  btn btn-sm btn-primary
                  shadow-sm
                ">Add Employee</a>
<h6 class="m-0 font-weight-bold text-primary">
  List of all Employees
</h6>
<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
  <thead>
    <tr>
      <th>Username</th>
      <th>Password</th>
      <th>Old Password</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Aadhaar Number</th>
      <th>Age</th>
      <th>Account Number</th>
      <th>IFSC Number</th>
      <th>Mess Number</th>
      <th>Section Number</th>
      <th>Email ID</th>
      <th>Phone Number</th>
      <th>Date of Birth</th>
      <th>Role</th>
      <th>Designation</th>
      <th>City</th>
      <th>Street</th>
      <th>PIN Number</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="employee: ${employees}">
      <td th:text="${employee.username}"></td>
      <td th:text="${employee.password}">Password</td>
      <td th:text="${employee.oldPassword}">Old Password</td>
      <td th:text="${employee.first_name}">First Name</td>
      <td th:text="${employee.last_name}">Last Name</td>
      <td th:text="${employee.e_aadhar_number}">Aadhaar Number</td>
      <td th:text="${employee.age}">Age</td>
      <td th:text="${employee.account_no}">Account Number</td>
      <td th:text="${employee.ifsc}">IFSC Number</td>
      <td th:text="${employee.mess_id}">Mess Number</td>
      <td th:text="${employee.section_id}">Section Number</td>
      <td th:text="${employee.email}">Email ID</td>
      <td th:text="${employee.phone_no}">Phone Number</td>
      <td th:text="${customer.dob}">Date of Birth</td>
      <td th:text="${employee.role}">Role</td>
      <td th:text="${employee.Designation}">Designation</td>
      <td th:text="${employee.city}">City</td>
      <td th:text="${employee.street}">Street</td>
      <td th:text="${customer.pin}">PIN Number</td>
      <td>
        <a th:href="${'/dashboard/manage/employee/' + employee.username}" class="btn-sm btn-primary">
          <span class="text">Manage</span>
        </a>
      </td>
    </tr>
  </tbody>
</table>
</body>

</html>