<!DOCTYPE html>
<html lang="en">

<head th:replace="dashboard/layouts/header :: header"></head>

<body id="page-top">
        <h1 class="h3 mb-0 text-gray-800" th:text="${doctor.username}"></h1>
        <a th:href="@{/dashboard/doctor/delete/__${doctor.username}__}"
                class="d-none d-sm-inline-block btn btn-sm btn-danger shadow-sm">Delete Doctor</a>

        <div class="card shadow mb-4">
                <h6>Information</h6>
                <form th:object=${doctor} method="POST">
                        <div class="col-md-12"> <label for="username">Username</label> <input type="text"
                                        class="bg-light form-control" th:field="*{username}" th:readonly="true"
                                        placeholder="Username">
                        </div>
                        <div class="col-md-12"> <label for="eid">Employee Id</label> <input type="number"
                                        class="bg-light form-control" th:field="*{eid}" th:readonly="true"
                                        placeholder="Employee Id"> </div>
                        <div class="col-md-12"> <label for="salary">Salary</label> <input type="number"
                                        class="bg-light form-control" th:field="*{salary}" th:readonly="true"
                                        placeholder="Salary"> </div>
                        <div class="col-md-12"> <label for="age">Age</label> <input type="number"
                                        class="bg-light form-control" th:field="*{age}" th:readonly="true"
                                        placeholder="Gge"> </div>
                        <div class="col-md-12"> <label for="phone_no">Phone Number</label> <input type="text"
                                        class="bg-light form-control" th:field="*{phone_no}" th:readonly="true"
                                        placeholder="Phone Number">
                        </div>
                        <div class="col-md-12"> <label for="pin">PIN Number</label> <input type="number"
                                        class="bg-light form-control" th:field="*{pin}" th:readonly="true"
                                        placeholder="PIN Number"> </div>
                        <div class="col-md-12"> <label for="dob">Date of Birth</label> <input type="date"
                                        class="bg-light form-control" th:field="*{dob}" th:readonly="true"
                                        placeholder="Date of Birth">
                        </div>
                        <div class="col-md-12"> <label for="ifsc">IFSC Number</label> <input type="text"
                                        class="bg-light form-control" th:field="*{ifsc}" th:readonly="true"
                                        placeholder="IFSC Number">
                        </div>
                        <div class="col-md-12"> <label for="account_no">Account Number</label> <input type="text"
                                        class="bg-light form-control" th:field="*{account_no}" th:readonly="true"
                                        placeholder="Account Number"> </div>
                        <div class="col-md-12"> <label for="e_aadhar_number">Aadhaar Number</label> <input type="text"
                                        class="bg-light form-control" th:field="*{e_aadhar_number}" th:readonly="true"
                                        placeholder="Aadhaar Number"> </div>
                        <div class="col-md-12"> <label for="first_name">First Name</label> <input type="text"
                                        class="bg-light form-control" th:field="*{first_name}" th:readonly="true"
                                        placeholder="First Name">
                        </div>
                        <div class="col-md-12"> <label for="last_name">Last Name</label> <input type="text"
                                        class="bg-light form-control" th:field="*{last_name}" th:readonly="true"
                                        placeholder="Last Name">
                        </div>
                        <div class="col-md-12"> <label for="Designation">Designation</label> <input type="text"
                                        class="bg-light form-control" th:field="*{Designation}" th:readonly="true"
                                        placeholder="Designation"> </div>
                        <div class="col-md-12"> <label for="email">Email Id</label> <input type="text"
                                        class="bg-light form-control" th:field="*{email}" th:readonly="true"
                                        placeholder="Email Id"> </div>
                        <div class="col-md-12"> <label for="city">City</label> <input type="text"
                                        class="bg-light form-control" th:field="*{city}" th:readonly="true"
                                        placeholder="City"> </div>
                        <div class="col-md-12"> <label for="street">Street</label> <input type="text"
                                        class="bg-light form-control" th:field="*{street}" th:readonly="true"
                                        placeholder="Street"> </div>
                        <div class="col-md-12"> <label for="mess_id">Mess Id</label> <input type="number"
                                        class="bg-light form-control" th:field="*{mess_id}" th:readonly="true"
                                        placeholder="Mess Id"> </div>
                        <div class="col-md-12"> <label for="section_id">Section Id</label> <input type="number"
                                        class="bg-light form-control" th:field="*{section_id}" th:readonly="true"
                                        placeholder="Section Id">
                        </div>
                        <div class="py-3 pb-4 border-bottom text-center"> <button type="submit"
                                        class="btn btn-primary mr-3">Edit
                                        Doctor</button> </div>

                </form>
        </div>
</body>

</html>