<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="/Layout/base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section>
    <center> 
        <br><center><h1 style="color: rgb(20, 173, 175);">About Us</h1></center>
        <br>
          <div class="row" style="background-color: rgb(12, 7, 7);">
            <div class="col-md-6"> 
            <div class="card" style="width: 35rem;margin:20px  ">
                <img src="/images/eiliv-aceron-ZuIDLSz3XLg-unsplash.jpg" alt="Image" class="card-img-top" height="400px" width="200px" >
                <div class="card-body">
                  <h5 class="card-title">Admins</h5>
                  <p class="card-text">We aid you to sign in as either Global admin, mess admin or section admin and perform your tasks accordingly! </p>
                  
                </div>
              </div>
        
              <div class="card" style="width: 35rem; margin:20px ;">
                <img src="/images/brooke-lark-KyUmKlXrhAM-unsplash.jpg" class="card-img-top" alt="..." height="400px" width="200px">
                <div class="card-body">
                  <h5 class="card-title">Users</h5>
                  <p class="card-text">Both students and external customers have sign in options and get directed to respective pages</p>
                  
                </div>
              </div>
        </div>
        <div class="col-md-6">      
              <div class="card" style="width: 35rem; margin:20px ">
                <img src="/images/simon-karemann-p85-MG66GRY-unsplash.jpg" class="card-img-top" alt="..." height="400px" width="200px">
                <div class="card-body">
                  <h5 class="card-title">Transactions</h5>
                  <p class="card-text">In order to create the transparency in the transactions, both admins and users are able to view past transactions</p>
                  
                </div>
              </div>
        
              <div class="card" style="width: 35rem;margin:20px  ">
                <img src="/images/anna-tukhfatullina-food-photographer-stylist-Mzy-OjtCI70-unsplash.jpg" class="card-img-top" alt="..." height="400px" width="200px">
                <div class="card-body">
                  <h5 class="card-title">Complaints and Polls</h5>
                  <p class="card-text">Polls aid in taking users opinions into consideration whereas Forums aid in grievance redressal</p>
                  
                </div>
              
              </div></div>
        </div>   <h4 style="color: rgb(50, 148, 194);">These and many more services at your service!</h4> </div>  
            <script src="/bootstrap-5.2.2-dist/js/bootstrap.bundle.min.js" ></script>
        
        </center></section>  

</body>
</html>