<!DOCTYPE html>
<html lang="en">

<head>Tis is Heading</head>

<body id="page-top">
<h1 class="h3 mb-0 text-gray-800">Add Announcement</h1>

<h6 class="m-0 font-weight-bold text-primary">
    Announcement creation form
</h6>

<div class="card-body">
    <form method="post" action:th="{@{/gadmin/announcement/add}}" th:object="${announcement}">
        <div class="form-group">
            <label for="A_id">Announcement id</label>
            <input type="number" id="A_id" class="form-control" required="required" placeholder="Announcement id"
                th:field="*{A_id}" />
        </div>
        <div class="form-group">
            <label for="mess_id">Mess Id</label>
            <input type="number" id="mess_id" class="form-control" required="required" placeholder="Mess Id"
                th:field="*{mess_id}" />
        </div>
        <div class="form-group">
            <label for="section_id">Section Id</label>
            <input type="number" id="section_id" class="form-control" required="required" placeholder="Section Id"
                th:field="*{section_id}" />
        </div>
        <div class="form-group">
            <label for="announce_text">Announcement Text</label>
            <input type="text" id="announce_text" class="form-control" required="required" placeholder="Announcement Text"
                th:field="*{announce_text}" />
        </div>
        <div class="form-group">
            <label for="date_and_time">Date and Time</label>
            <input type="text" id="date_and_time" class="form-control" required="required" placeholder="Date and Time"
                th:field="*{date_and_time}" />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</body>

</html>