<th:block th:if=${customer}>
    <div class="container mx-auto mt-4">
        <div class="row">
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img th:src="@{/images/mess.jpg}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <a th:href="@{/customer/profile}" class="btn btn-primary btn-sm mb-3">My Profile</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img th:src="@{/images/employee.png}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <a th:href="@{/customermenu}" class="btn btn-primary btn-sm mb-3">Menue</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img th:src="@{/images/customer.jpg}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <a th:href="@{/customerannouncement}" class="btn btn-primary btn-sm mb-3">Announcement</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img th:src="@{/images/student2.jpg}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <a th:href="@{/customertransactions} " class="btn btn-primary btn-sm mb-3">My Transactions</a>
                    </div>
                </div>
            </div>
        </div>
</th:block>