<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="/Layout/base::layout(~{::section})">
<head>asf</head>
<!-- <head th:replace="header :: header"></head> -->
<body text-align="center">

<!-- div th:replace="navbar :: navbar"></div> -->

<section>
<div class="row register-form" style="margin-top: 100px; width: 100%;">
    <div class="col-md-8 offset-md-2" style="background-color: aliceblue;">
        <form display="inline" class="custom-form" style="background-color: aliceblue;" method="post" model="customer" th:action="@{/gadmin/addmess}" th:object="${mess}">
            <h1>Create mess</h1>
            <div class="row form-group">
                <div class="col-sm-4 label-column"><label class="col-form-label" for="f_name-input-field">Mess Id </label></div>
                <div class="col-sm-5 input-column"><input type="number" class="form-control" placeholder="First Name" required="required" th:field="*{mess_id}"></div>
            </div>
            <div class="row form-group">
                <div class="col-sm-4 label-column"><label class="col-form-label" for="f_name-input-field">Mess Name </label></div>
                <div class="col-sm-5 input-column"><input type="text" class="form-control" placeholder="First Name" required="required" th:field="*{m_name}"></div>
            </div>
             <div class="row form-group">
                <div class="col-sm-4 label-column"><label class="col-form-label" for="l_name-input-field">Hostel Name </label></div>
                <div class="col-sm-5 input-column"><input type="text" class="form-control" placeholder="Last Name" required="required" th:field="*{hostel_name}"></div>
            </div>
            
            
            
            
          

            <div class="form-group">
                <button type="submit" class="btn btn-info btn-block btn-lg">Create</button>
            </div>
        </form>
    </div>
</div>
</section>

</body>
</html>
