<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="/Layout/base::layout(~{::section})">
<head>asf</head>
<!-- <head th:replace="header :: header"></head> -->
<body text-align="center">

<!-- div th:replace="navbar :: navbar"></div> -->

<section>
<div class="row register-form" style="margin-top: 100px; width: 100%;">
    <div class="col-md-8 offset-md-2" style="background-color: whitesmoke;">
        <form display="inline" class="custom-form" style="background-color: whitesmoke;" method="post" model="customer" th:action="@{/customerregister}" th:object="${customer}">
            <div style="margin:20px; background-color:rgb(240, 246, 234)"><h1 style="color: rgb(20, 173, 175); text-align:center ;">Registration Form</h1></div>
            <div class="row form-group">
                <div class="col-sm-4 label-column"><label class="col-form-label" for="f_name-input-field">First Name </label></div>
                <div class="col-sm-5 input-column"><input type="text" class="form-control" placeholder="First Name" required="required" th:field="*{first_name}"></div>
            </div>
             <div class="row form-group">
                <div class="col-sm-4 label-column"><label class="col-form-label" for="l_name-input-field">Last Name </label></div>
                <div class="col-sm-5 input-column"><input type="text" class="form-control" placeholder="Last Name" required="required" th:field="*{last_name}"></div>
            </div>
            <div class="row form-group">
                <div class="col-sm-4 label-column"><label class="col-form-label" for="dob-input-field">Date of Birth</label></div>
                <div class="col-sm-5 input-column"><input type="date" class="form-control" min="1900-12-31" max="2021-11-15" placeholder="Date of Birth" required="required" th:field="*{dob}"></div>
            </div>
            <div class="row form-group">
                <div class="col-sm-4 label-column"><label class="col-form-label" for="email-input-field">Email ID </label></div>
                <div class="col-sm-5 input-column"><input type="email" class="form-control" placeholder="Email ID" required="required" th:field="*{email}"></div>
            </div>
            <div class="row form-group">
                <div class="col-sm-4 label-column"><label class="col-form-label" for="phone_no-input-field">Phone Number</label></div>
                <div class="col-sm-5 input-column"><input type="tel" pattern="[0-9]{4}-[0-9]{3}-[0-9]{3}" class="9999-999-999" placeholder="9999-999-999" required="required" th:field="*{phone_no}"></div>
            </div>
            
            <div class="row form-group">
                <div class="col-sm-4 label-column"><label class="city-form-label" for="l_name-input-field">city </label></div>
                <div class="col-sm-5 input-column"><input type="text" class="form-control" placeholder="City" required="required" th:field="*{city}"></div>
            </div> <div class="row form-group">
                <div class="col-sm-4 label-column"><label class="street-form-label" for="l_name-input-field">street</label></div>
                <div class="col-sm-5 input-column"><input type="text" class="form-control" placeholder="Street" required="required" th:field="*{street}"></div>
            </div>
            <div class="row form-group">
                <div class="col-sm-4 label-column"><label class="col-form-label" for="pin-input-field">PIN </label></div>
                <div class="col-sm-5 input-column"><input type="number" class="form-control" placeholder="PIN code" required="required" th:field="*{pin}"></div>
            </div>
            <div class="row form-group">
                <div class="col-sm-4 label-column"><label class="col-form-label" for="aadhar_no-input-field">Aadhar Card Number </label></div>
                <div class="col-sm-5 input-column"><input type="number" min="100000000000" max="999999999999" class="form-control" placeholder="Aadhar Number" required="required" th:field="*{c_aadhar_number}"></div>
            </div>
            <div class="row form-group">
                <div class="col-sm-4 label-column"><label class="col-form-label" for="account_no-input-field">Account Number </label></div>
                <div class="col-sm-5 input-column"><input type="text" class="form-control" placeholder="Account Number" required="required" th:field="*{account_no}"></div>
            </div>
            
            <div class="row form-group">
                <div class="col-sm-4 label-column"><label class="col-form-label" for="ifsc-input-field">IFSC Number </label></div>
                <div class="col-sm-5 input-column"><input type="text" class="form-control" placeholder="IFSC Number" required="required" th:field="*{ifsc}"></div>
            </div>
            
            <div class="row form-group">
                <div class="col-sm-4 label-column"><label class="col-form-label" for="Balance-input-field">Balance </label></div>
                <div class="col-sm-5 input-column"><input type="text" class="form-control" placeholder="Balance" required="required" th:field="*{Balance}"></div>
            </div>
           
            <div class="row form-group">
                <div class="col-sm-4 label-column" >
                    <label class="col-form-label" for="sex-input-field">Gender </label>
                </div>
                <div class="col-sm-4 label-column" >
                    <div class="form-check "   >
                        <input class="form-check-input"  type="radio" required="required" th:field="*{sex}" id="option1" value="Male">
                        <label class="form-check-label" for="option1" >Male</label>
                    </div>
                    <div class="form-check ">
                        <input class="form-check-input" type="radio"  required="required" th:field="*{sex}" id="option2" value="Female">
                        <label class="form-check-label" for="option2" >Female</label>
                    </div>
                </div>
                
               
            </div>
            <div class="row form-group">
                <div class="col-sm-4 label-column"><label class="col-form-label" for="username-input-field">Username </label></div>
                <div class="col-sm-5 input-column"><input type="text" class="form-control" required="required" placeholder="Username" th:field="*{username}"></div>
            </div>
            <div class="row form-group">
                <div class="col-sm-4 label-column"><label class="col-form-label" for="password-input-field">Password </label></div>
                <div class="col-sm-5 input-column"><input type="password" class="form-control" required="required" placeholder="Password" th:field="*{password}"></div>
            </div>
            <div class="row form-group">
                <div class="col-sm-4 label-column"><label class="col-form-label" for="passwordConfirm-input-field">Confirm Password </label></div>
                <div class="col-sm-5 input-column"><input type="password" class="form-control" required="required" placeholder="Confirm Password" th:field="*{passwordConfirm}"></div>
            </div>

            <div class="form-group">
                <center><button type="submit" class="btn btn-success btn-block btn-lg" style="margin:20px ;">Register</button></center>
            </div>
        </form>
    </div>
</div>
</section>

</body>
</html>
