<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="/Layout/base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


    <Section>
        <div class="row col-5">
            <h4 class="fw-bold text-center mt-3"></h4>
            <form class=" bg-white px-4" method="post" th:object="${ans}" th:action="@{/polls/answer}" >
              <p class="fw-bold"><span th:text="${question.text}"></span></p>
              <div class="form-check mb-2" th:each="option : ${options}">
                <input class="form-check-input" type="radio" th:field="*{optionid}" th:value="${option.optionid}" name="exampleForm" id="radioExample" />
                <label class="form-check-label" for="radioExample1">
                    <span th:text="${option.OptionText}"/>
                </label>
                
              </div>
              <input type="hidden" th:field="*{Q_id}" value="${question.text}" />
              <div class="text-end">
                <button class="btn btn-primary d-block w-100" type="submit" style="background: linear-gradient(black 36%, white), var(--bs-gray-700);">Submit</button>
              </div>    
            </form>
            
          </div>
    </Section>
    
</body>
</html>