<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="/Layout/base::layout(~{::section})">
<head>Register Customer</head>
<!-- <head th:replace="header :: header"></head> -->
<body text-align="center">

<!-- div th:replace="navbar :: navbar"></div> -->
<section>

<div class="row register-form" style="margin-top: 100px; width: 100%;">
    <h1>This is Student Polls</h1>

    
    
     
    <table class="table">
        <thead class="thead-dark">
          <tr >
            <th scope="col">#</th>
            <th scope="col">Text</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="ques: ${questions}">
            <th scope="row"><span th:text="${ques.questionid}"></span></th>
            <td> <span th:text="${ques.text}"></span></td>
            <td><a class="button button-primary" th:href="@{/polls/{id}(id=${ques.getQuestionid()})}">Answer This</a></td>
            
          </tr>
        
            
        </tbody>
      </table>
<a th:href="@{/loggedin}"> Back</a>

</div>
</section>

</body>
</html>
