<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="/Layout/base::layout(~{::section})">
<head>asf</head>
<!-- <head th:replace="header :: header"></head> -->
<body text-align="center">

<!-- div th:replace="navbar :: navbar"></div> -->

<section>
<div class="row register-form" style="margin-top: 100px; width: 100%;">
    <div class="col-md-8 offset-md-2" style="background-color: whitesmoke;">
        <form display="inline" class="custom-form" style="background-color: whitesmoke;" method="post" model="student" th:action="@{/studentregister}" th:object="${student}">
            <div style="margin:20px; background-color:rgb(240, 246, 234)"><h1 style="color: rgb(20, 173, 175); text-align:center ;">Registration Form</h1></div>
            <div class="row form-group">
                <div class="col-sm-4 label-column"><label class="col-form-label" for="f_name-input-field">First Name </label></div>
                <div class="col-sm-5 input-column"><input type="text" class="form-control" placeholder="First Name" required="required" th:field="*{f_name}"></div>
            </div>
             <div class="row form-group">
                <div class="col-sm-4 label-column"><label class="col-form-label" for="l_name-input-field">Last Name </label></div>
                <div class="col-sm-5 input-column"><input type="text" class="form-control" placeholder="Last Name" required="required" th:field="*{l_name}"></div>
            </div>
            <div class="row form-group">
                <div class="col-sm-4 label-column"><label class="col-form-label" for="s_email-input-field">Email ID </label></div>
                <div class="col-sm-5 input-column"><input type="email" class="form-control" placeholder="Email ID" required="required" th:field="*{s_email}"></div>
            </div>
            <div class="row form-group">
                <div class="col-sm-4 label-column"><label class="col-form-label" for="phone_no-input-field">Phone </label></div>
                <div class="col-sm-5 input-column"><input type="tel" pattern="[0-9]{4}-[0-9]{3}-[0-9]{3}" class="9999-999-999" placeholder="9999-999-999" required="required" th:field="*{phone_no}"></div>
            </div>
            <div class="row form-group">
                <div class="col-sm-4 label-column"><label class="col-form-label" for="DOB-input-field">Date of Birth</label></div>
                <div class="col-sm-5 input-column"><input type="date" class="form-control" min="1900-12-31" max="2021-11-15" placeholder="Date of Birth" required="required" th:field="*{DOB}"></div>
            </div>
            <div class="row form-group">
                <div class="col-sm-4 label-column"><label class="col-form-label" for="roll_no-input-field">Roll no. </label></div>
                <div class="col-sm-5 input-column"><input type="number" class="form-control" placeholder="Roll no." required="required" th:field="*{roll_no}"></div>
            </div>
            <div class="row form-group">
                <div class="col-sm-4 label-column"><label class="col-form-label" for="room_no-input-field">Room no. </label></div>
                <div class="col-sm-5 input-column"><input type="number" class="form-control" placeholder="Room no." required="required" th:field="*{room_no}"></div>
            </div>
            <div class="row form-group">
                <div class="col-sm-4 label-column"><label class="col-form-label" for="aadhar_no-input-field">Aadhar Card Number </label></div>
                <div class="col-sm-5 input-column"><input type="number" min="100000000000" max="999999999999" class="form-control" placeholder="Aadhar Number" required="required" th:field="*{aadhar_no}"></div>
            </div>
            <div class="row form-group">
                <div class="col-sm-4 label-column"><label class="col-form-label" for="s_account_no-input-field">Account no. </label></div>
                <div class="col-sm-5 input-column"><input type="text" class="form-control" placeholder="Account no." required="required" th:field="*{s_account_no}"></div>
            </div>
            
            <div class="row form-group">
                <div class="col-sm-4 label-column"><label class="col-form-label" for="s_ifsc-input-field">IFSC no. </label></div>
                <div class="col-sm-5 input-column"><input type="text" class="form-control" placeholder="IFSC no." required="required" th:field="*{s_ifsc}"></div>
            </div>
            <div class="row form-group">
                <div class="col-sm-4 label-column"><label class="col-form-label" for="Age_no-input-field">Age </label></div>
                <div class="col-sm-5 input-column"><input type="text" class="form-control" placeholder="Age" required="required" th:field="*{Age}"></div>
            </div>
            <div class="row form-group">
                <div class="col-sm-4 label-column"><label class="col-form-label" for="Balance-input-field">Balance </label></div>
                <div class="col-sm-5 input-column"><input type="text" class="form-control" placeholder="Balance" required="required" th:field="*{Balance}"></div>
            </div>
            <div class="row form-group">
                <div class="col-sm-4 label-column"><label class="col-form-label" for="localGaurdian-input-field">Local Guardian </label></div>
                <div class="col-sm-5 input-column"><input type="text" class="form-control" placeholder="Local Guardian" required="required" th:field="*{localGaurdian}"></div>
            </div>
            <div class="row form-group">
                <div class="col-sm-4 label-column"><label class="col-form-label" for="hostel_name-input-field">Hostel name </label></div>
                <div class="col-sm-5 input-column"><input type="text" class="form-control" placeholder="Hostel name" required="required" th:field="*{hostel_name}"></div>
            </div>
            <div class="row form-group">
                <div class="col-sm-4 label-column"><label class="col-form-label" for="parent-input-field">Parent </label></div>
                <div class="col-sm-5 input-column"><input type="text" class="form-control" placeholder="Parent" required="required" th:field="*{parent}"></div>
            </div>
            <div class="row form-group">
                <div class="col-sm-4 label-column" >
                    <label class="col-form-label" for="sex-input-field">Gender </label>
                </div>
                <div class="col-sm-4 label-column" >
                    <div class="form-check "   >
                        <input class="form-check-input"  type="radio" required="required" th:field="*{sex}" id="option1" value="Male">
                        <label class="form-check-label" for="option1" >Male</label>
                    </div>
                    <div class="form-check ">
                        <input class="form-check-input" type="radio"  required="required" th:field="*{sex}" id="option2" value="Female">
                        <label class="form-check-label" for="option2" >Female</label>
                    </div>
                </div>
                
               
            </div>
            <div class="row form-group">
                <div class="col-sm-4 label-column"><label class="col-form-label" for="username-input-field">Username </label></div>
                <div class="col-sm-5 input-column"><input type="text" class="form-control" required="required" placeholder="Username" th:field="*{username}"></div>
            </div>
            <div class="row form-group">
                <div class="col-sm-4 label-column"><label class="col-form-label" for="password-input-field">Password </label></div>
                <div class="col-sm-5 input-column"><input type="password" class="form-control" required="required" placeholder="Password" th:field="*{password}"></div>
            </div>
            <div class="row form-group">
                <div class="col-sm-4 label-column"><label class="col-form-label" for="passwordConfirm-input-field">Confirm Password </label></div>
                <div class="col-sm-5 input-column"><input type="password" class="form-control" required="required" placeholder="Confirm Password" th:field="*{passwordConfirm}"></div>
            </div>
            <div class="row form-group">
                <div class="col-sm-4 label-column"><label class="col-form-label" for="mess_id-input-field">Mess no </label></div>
                <div class="col-sm-5 input-column"><input type="number" class="form-control" required="required" placeholder="mess no" th:field="*{mess_id}"></div>
            </div>
            <div class="row form-group">
                <div class="col-sm-4 label-column"><label class="col-form-label" for="section_id-input-field">Section no </label></div>
                <div class="col-sm-5 input-column"><input type="number" class="form-control" required="required" placeholder="Section no" th:field="*{section_id}"></div>
            </div>
            <div class="form-group">
                <center><button type="submit" class="btn btn-success btn-block btn-lg" style="margin:20px ;">Register</button></center>
            </div>
        </form>
    </div>
</div>
</section>

</body>
</html>
