<!DOCTYPE html>
<html>
<head>Register Customer</head>
<!-- <head th:replace="header :: header"></head> -->
<body text-align="center">

<!-- div th:replace="navbar :: navbar"></div> -->


<div class="row register-form" style="margin-top: 100px; width: 100%;">
    <h1>This is Student Menu!</h1>
    <p>Brekfast : <span th:text="${breakfast}"></span></p>
    <p>lunch : <span th:text="${lunch}"></span></p>
    <p>dinner : <span th:text="${dinner}"></span></p>
</div>


<a th:href="@{/loggedin}">
    back
</a>
</body>
</html>
