<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="/Layout/base::layout(~{::section})">
<head>Register Customer</head>
<!-- <head th:replace="header :: header"></head> -->
<body text-align="center">

<!-- div th:replace="navbar :: navbar"></div> -->
<section>


<div class="container">
  <div class="row">
      <h1>Polls</h1>
  </div>
  
  <div class="row">
      <div class="col-lg-3">
        <a th:href="@{/student/polls/answered}" class="btn btn-primary btn-sm mb-3">Previously Answered</a>
        
          <a th:href="@{/loggedin}" class="btn btn-primary btn-sm mb-3">Back</a>
      </div>
  </div>
  
  <table class="table table-striped table-bordered">
      <thead class="table-dark"> 
        <tr >
          <th >Question Id</th>
          <th >Text</th>
          <th >Action</th>
        </tr>
      </thead>
      <tbody>
        
          <tr th:each="ques:${questions}">
              <td th:text="${ques.questionid}"></td>
              <td th:text="${ques.text}"></td>
              <td>
                <th:block th:if="${ques.Finished == 1}">
                  <a th:href="@{/student/polls/{id}(id=${ques.getQuestionid()})}" class="btn btn-danger">
                      Answer
                  </a>
                </th:block>
                <th:block th:if="${ques.Finished == 0}">
                  <p>
                      Poll Closed
                  </p>
                </th:block>
                <a th:href="@{/localadmin/pollresult/{id}(id=${ques.getQuestionid()})}" class="btn btn-danger">
                  Poll Result
                </a>
              </td>
          </tr>
      </tbody>
  </table>
</div>

</section>

</body>
</html>
